.DS_Store
.cproject
.project
.settings
*.o
*.d
*.elf
*.bin
*.hex
*.map
Bootloader.zip
Bootloader.sublime-workspace
.gdbinit
build/
lib/imxrt/sdk_2.4.1_mimxrt1052/boards/uavrs_v2/Objects
lib/imxrt/sdk_2.4.1_mimxrt1052/boards/uavrs_v2/Listings
